@model Nix.Project.Models.PaintingVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="container-fluid">
    <form asp-action="Create">
<div class="row">
  <div class="container col-sm-8">

    <div class="container dets-img"><img src="C:/Users/Nazar/Desktop/slide2.jpg"></div>
    <li class="p-info1">

                <div class="form-group">
                <label asp-for="ImgURL" class="control-label"></label>
                <input asp-for="ImgURL" class="form-control" />
                <span asp-validation-for="ImgURL" class="text-danger"></span>
            </div>

            </li>
            
  </div>

  <div class="container dets-info col-sm-4">
        <ul class="dets-inform">
            <li class="p-info1">

                <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <input asp-for="ApplicationUserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>

            </li>
            <li class="p-info1">

                <div class="form-group">
                <label asp-for="PaintingId" class="control-label"></label>
                <input asp-for="PaintingId" class="form-control" />
                <span asp-validation-for="PaintingId" class="text-danger"></span>
            </div>

            </li>
            <li class="p-info1">

                <div class="form-group">
                <label asp-for="Medium" class="control-label"></label>
                <input asp-for="Medium" class="form-control" />
                <span asp-validation-for="Medium" class="text-danger"></span>
            </div>

            </li>
            <li class="p-info2">Autor:

                 <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            </li>
            <li class="p-info">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            </li>
            <li class="p-info">

              <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            </li>

            <li class="p-info">Subject:
                 <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
              </div>

            </li>

            <li class="p-info">Style:

                 <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
                <span asp-validation-for="Style" class="text-danger"></span>
              </div>
            </li>

            <li class="p-info7">

              <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
              </div>
            
            </li>
        </ul>

                
           
  </div>
 
</div>
 
        <div class="container-fluid">
      <b><div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div></b>
             
  </div>
  <div class="form-group">  
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />  
                    
                </div> 
  </form> 
<div class="container-fluid">
      Painter profail
  </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
